body {
  background-color: #f5f7ff;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 20px;
  font-family: "Courier New", monospace;
}

.calculator {
  padding: 10px;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.buttons {
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0px;
  margin: 5px;
  background-color: #f5f7ff;
  color: #6f7691;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 1px 5px 0 rgba(81, 81, 81, 0.2),
    0 1px 5px 0 rgba(96, 96, 96, 0.19);
}
.equals {
  background-color: #f5f7ff;
  flex-grow: 3;
}

.clear {
  background-color: rgba(30, 43, 84, 255);
  color: white;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 350px;
  height: 60px;
  padding: 20px;
  border: 0px;
  margin: 10px;
  border-radius: 50px;
  background-color: #2388ff;
  color: white;
  flex-shrink: 0;
  font-size: 60px;
  font-weight: bold;
}

.minus {
  background-color: #ff445a;
  color: white;
}

.divide {
  background-color: #2388ff;
  color: white;
}
.multiply {
  background-color: #ffc803;
  color: white;
}
.add {
  background-color: #62de77;
  color: white;
}
.number {
  background-color: #d8ddf0;
  color: #6f7691;
}
.lowestRow {
  display: flex;
  gap: 8px;
}
